<?xml version="1.0"?>
<configuration>
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="~/presentation/Login.aspx" timeout="2880" defaultUrl="~/presentation/Login.aspx" />
      </authentication>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
</configuration>
